*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: large;
    font-family: 'Roboto Condensed',Arial;
    font-weight: bold;

}



/* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR */


/* uldine */

.navbar{
    position: fixed;
    backdrop-filter: blur(4px);
    display: block;
    padding: 0px;
    margin: 0px;
    

    height: 75px;
    width: 100%; 
    z-index: 1;
}

/* koik üleval vasakul nimega seonduv */

.name{
    color: #1D1D1B;
    position: absolute;
    left: 20px;
    top: 40%;
    display: inline-block;
}


/* koik keskel sotsiaalmeedia iconlinkidega seonduv */


.socials{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 148px;
    margin-top: -2px;
}

.imgLinkedIn{
    width: 25px;
    transform: 1s;
}

.imgLinkedIn:hover{
    transform: scale(1);
    content: url(./assets/linkedin.png);
}

.imgInstagram{
    width: 25px;
    transform: 1s;
}

.imgInstagram:hover{
    transform: scale(1);
    content: url(./assets/instagram.png);
}

.imgGoogle{
    width: 25px;
    transform: 1s;
}

.imgGoogle:hover{
    transform: scale(1);
    content: url(./assets/gmail.png);
}




/* koik uleval paremal navigationiga seonduv */

.link-box{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 40%;
}


.navbarInternalLink{
    position: relative;
    text-decoration: none;
    color: #1D1D1B;
}
  
  .navbarInternalLink::before {
    content: "";
    position: absolute;
    bottom: 40%; /* joone positsioon alt*/
    left: 0;
    width: 95%;
    height: 3px; /* joone korgus */
    background-color: #1D1D1B;
    transform: scaleX(0); /* joone pikkus enne hoverimist ehk  */
    transform-origin: center; /* joone muutus algab keskelt */
    transition: transform 0.3s cubic-bezier(0.5, -0.5, 0.5, 1.5); /* joone pikkuse muutuse efekt */
    opacity: 0.9; /* joone labipaistvus */
  }
  
  .navbarInternalLink:hover::before {
    transform: scaleX(1); /* joone pikkus 100% parast hoverimist */
  }


  

/* koik progressi joonega seonduv */

.progress-container {
    position: absolute;
    bottom: 0;
    display: block;
    width: 98%;
    height: 2px;
    background: #818181;
    margin: 0 1%;

}
  
  .progress-bar {
    position: relative;
    bottom: 0px;
    height: 2px;
    background: #191a19;
    width: 0%;
}



/* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND */

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    background-image: url(clouds.jpg);
    background-size: cover;
    opacity: 1;
    transition: opacity 0.1s ease;
    z-index: -1;
  }

.content {
    position: relative;
    background-color: 1D1D1B;
    background-color: rgba(13,13,15,0.1)
}











/* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA */



main {
    margin: 0px;
    padding: 0px;
    transition: background-color 0.5s ease;
}



#main{height: 850px;}
#about, #projects, #contact, #resume{
    height: 1000px;
}

.text-box{
    display: inline-block;
    padding-top: 570px;
    padding-left: 1%;
    color: #fff;
}

#textboxtext{
    font-size: 75px;
    font-weight: 200;
}












  