*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: large;
    font-family: "arial BLACK";
    font-weight: bold;
    scroll-behavior: smooth;

}

body::-webkit-scrollbar{
    display: none;
}


/* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR *//* NAVIGATION BAR */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: stretch;
    align-content: normal;
    height: 100%;
  }
  
  .flex-items1{
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: stretch;
    order: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    align-content: stretch;

    margin: 30px;
  }
  
  .flex-items2{
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: stretch;
    order: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
  }

.navbar{
    position: fixed;
    backdrop-filter: blur(4px);
    display: block;
    padding: 0px;
    margin: 0px;
    
    height: 75px;
    width: 100%; 
    z-index: 1;
}

/* koik üleval vasakul nimega seonduv */

.name{
    color: #1D1D1B;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

    flex-wrap: wrap;
    border-right: black solid 2px;
    padding-right: 10px;
}


/* koik keskel sotsiaalmeedia iconlinkidega seonduv */


.socials{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

    margin-top: 5px;
    margin-left: 5px;


}

.imgLinkedIn{
    width: 25px;
}

.imgLinkedIn:hover{
    transform: scale(1);
    content: url(./assets/linkedin.png);
}

.imgInstagram{
    width: 25px;
}

.imgInstagram:hover{
    transform: scale(1);
    content: url(./assets/instagram.png);
}

.imgGoogle{
    width: 25px;
}

.imgGoogle:hover{
    transform: scale(1);
    content: url(./assets/gmail.png);
}

.imgTwitterX{
    width: 25px;
}

.imgTwitterX:hover{
    transform: scale(1);
    content: url(./assets/TwitterX.png);
}


/* koik uleval paremal navigationiga seonduv */

.link-box{
    margin: 30px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}


.navbarInternalLink{
    position: relative;
    text-decoration: none;
    color: #1D1D1B;
}
  
  .navbarInternalLink::before {
    content: "";
    position: absolute;
    bottom: 40%; /* joone positsioon alt*/
    left: 0;
    width: 95%;
    height: 3px; /* joone korgus */
    background-color: #1D1D1B;
    transform: scaleX(0); /* joone pikkus enne hoverimist ehk  */
    transform-origin: center; /* joone muutus algab keskelt */
    transition: transform 0.3s cubic-bezier(0.5, -0.5, 0.5, 1.5); /* joone pikkuse muutuse efekt */
    opacity: 0.9; /* joone labipaistvus */
  }
  
  .navbarInternalLink:hover::before {
    transform: scaleX(1); /* joone pikkus 100% parast hoverimist */
  }


  

/* koik progressi joonega seonduv */

.progress-container {
    position: absolute;
    bottom: 0;
    display: block;
    width: 98%;
    height: 2px;
    background: #818181;
    margin: 0 1%;

}
  
  .progress-bar {
    position: relative;
    bottom: 0px;
    height: 2px;
    background: #191a19;
    width: 0%;
}



/* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND *//* BACKGROUND */

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    background-image: url(./assets/clouds.jpg);
    background-size: cover;
    opacity: 1;
    transition: opacity 0.1s ease;
    z-index: -1;
  }

.content {
    position: relative;
    background-color: #1D1D1B;
    background-color: rgba(13,13,15,0.1)
}











/* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA *//* MAIN CONTENT AREA */



main {
    margin: 0px;
    padding: 0px;
    transition: background-color 0.5s ease;
}


#main, #about, #projects, #contact, #resume{
    min-height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.text-box{
    display: inline-block;
    padding-top: 570px;
    padding-left: 1%;
    color: #fff;
}

#textboxtext{
    font-size: 75px;
    font-weight: 200;
}

/* INTRODUCTION AND PICTURE *//* INTRODUCTION AND PICTURE *//* INTRODUCTION AND PICTURE *//* INTRODUCTION AND PICTURE *//* INTRODUCTION AND PICTURE *//* INTRODUCTION AND PICTURE *//* INTRODUCTION AND PICTURE */
.container{
    height: 99%;
    width: 90%;
    

    margin-top: 200px; /* Paneb conteinerid allapoole, et näeks paremini välja */

    flex-grow: 0;
    flex-shrink: 1;
    order: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    text-align: left;

    min-height: 0;

}

.container>*{
    flex: 1 1 300px;
}

.containerV2_text{
    display: flex;
    flex-grow: 7;
    order: 0;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 1;

    text-align: right;
    padding: 40px;

    border-right: #191a19 solid 2px;
}




.containerV3:nth-child(1){
    display: block;
    flex: 2 1 auto;
    margin-bottom: 5%;
    font-size: 50px;
}

#blue{
    color: #1170A5;
    font-size: 50px;
}

.containerV3:nth-child(2){
    
    display: block;
    flex: 7 1 auto;
    margin-bottom: 5%;
}

.containerV3:nth-child(3){
    display: block;
    flex: 1 1 auto;
    border-top: #191a19 solid 2px;
}

.introIcons{
    margin-top: 20px;
}



.containerV2_picture{
    display: flex;
    flex-grow: 3;
    order: 1;
    flex-shrink: 3;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portrait{
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: floatingBubble 10s ease-in-out infinite;
    background-image: url(assets/monkey.png);
    background-size: cover;
    box-shadow: 0 2px 50px #1170A5;
}
@keyframes floatingBubble {
    0%{
        border-radius: 40% 45% 60% 50% / 60% 55% 40% 50%; 
    }
    50%{
        border-radius: 50% 55% 50% 40% / 50% 45% 45% 40%; 
    }
    100%{
        border-radius: 40% 45% 60% 50% / 60% 55% 40% 50%; 
    }
  }